$base-dark-5-elements: hsl(271, 100, 14);
$base-dark-4-elements: hsl(271, 85, 23);
$base-dark-3-elements: hsl(270, 73, 35);
$base-dark-2-elements: hsl(272, 63, 46);
$base-dark-1-elements: hsl(273, 68, 59);

$base-light-5-elements: hsl(26, 100, 50);
$base-light-4-elements: hsl(28, 100, 50);
$base-light-3-elements: hsl(31, 100, 50);
$base-light-2-elements: hsl(34, 100, 50);
$base-light-1-elements: hsl(37, 100, 50);

$base-text-light: hsl(0, 0, 100);
$base-text-dark: hsl(0, 5, 9);